.container-1{
    max-width: 1200px ;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
    margin-top:30px;
}


.headName{
    float:left;
    margin:10px 0px;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
}
.logform{
    float:right;
}
.headName-1{
    margin: 0%;
    color:#52abe4;
    font-family: 'Quicksand', sans-serif;
  }
.headName-2{
    margin:0% 40px;
    color:#318bd1;
}

.logbox-1{
    margin:10px;
}

.divlogi{
    float: left;
    margin:10px 0px;;
}
.divlogi-1{
    float:left;
    margin:3.5px 0px;
}
.login-button{
  background: #45a5e2;
  color: white;
  border: none;
  padding: 3px 4px;
}
.login-button:hover{
  background: green;
  cursor: pointer;
}
.logout-button{
  background: #45a5e2;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 30px;
}
.logout-button:hover{
  background: red;
  cursor: pointer;
}



#textilogit{
    text-align: right;
}
#textunderform{
    font-size:13px;
    margin:0 8px;
}
#ngj{
    color:black;
}


.ngjyraTextit{
    color:#00c6ff;
    text-decoration: none;
}

.navbar{
  clear: both;
  width: 100%;
  background: #45a5e2;
  overflow: hidden;
  border-radius: 10px;
}

.navbar ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    line-height: 40px;
    
}

.navbar li{
    float:left;
    border-right: 2px solid #28b3f2;
}


.navbar li a{
    text-decoration: none;
    padding: 0 15px;
    display: block;
    text-align: center;
    color:white;
    font-weight: bold;
}
.navbar li a:hover{
    font-size: 18px;
}

.navbar li:last-child{
    border-right: none;
}


 .search-container {
    float: right;
    margin-right: 35px;
  }
  
 .search-container input[type=text] {
    padding: 2px;
    margin-top: 8px;
    font-size: 16px;
    border: 1px solid #d5d5d5;
    border-radius: 5px 0 0px 5px;
  }
  
 .search-container button {
    float: right;
    padding: 2px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 16px;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
    background: #d51007;
    border: 1px solid #d51007;
  }

  .fa-search{
      color:white;
  }

.kontenti{
    clear: both;
    background: #3999d6;
    width: 100%;
    margin-top: 5px;
    margin-right: 20px;
}

.tekstiKontentit{
    padding-left: 65px;
    width: 40%;
    color:white; 
    float: left;   
    font-family: 'Source Sans Pro', sans-serif;

}
.btn{
    margin-top:70px;
    float: left;
    display: inline;
    
}
.btn-1{
    background: #3999d6;
    border: none;
    cursor: pointer;

}

.btn h3{
    display: inline;
    padding-left: 10px;
}


#viewmore-11{
    margin-left:40px;
    margin-top: 89px;
}

.slider2{
    background: #e0e0e1;
    float: left;
    width: 100%;
}

.slider2 p{
    float: left;
    margin: 10px 85px;

    
}
.slider2 p  img {
    margin-right: 4px;
}

.slider2 p a{
  text-decoration: none;
  color: #0ba7ce;
  margin-left: auto;
}


.card{
    width: 650px;
    height: 350px;
    border: 1px solid #dddddd;
    padding: 5px 20px;
    background: #f3f3f3;
    margin: 20px 17px;
    font-family: 'Source Sans Pro', sans-serif;

    
  }


  .card-header-h{
    margin-bottom: 0px;
    float: left;
    color:black;
  }
  .card-header-p{
    clear: both;
    padding: 4px 0px;
    font-size: 11px;
    color:rgb(142, 142, 201);
  }
  .card-header a{
    text-decoration: none;
    float: right;
    margin-top:25px;
    color:red;
  }
  .card-header a:hover{
    color:rgb(0, 255, 0);
  }
  .card-img{
    padding: 5px;
    border: 2px solid #dddddd;
    float: left;
    width: 192px;
    height: 198px;
    
    }
  .card-text{
    float: left;
    width: 65%;
    padding: 0px 10px;
  }


  .card-text a{
    color:black;
    text-align: center;
    background: #ffd801;
    padding: 6px 13px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .card-text a:hover{
    background: red;
    cursor: pointer;
    
  }
  .left-content{
    background: white;
    border: 1px solid #dddddd;
  }
  .mid{
    float: left;
  }
  .bottommid{
   border: 1px solid #ddd;
  }

  .left-mid {
    border: 1px solid #dddddd;
    width: 430px;
    height: 150px;
    float: right;
    overflow: hidden;
    margin:20px 17px;
    background: #f3f3f3;
    margin-bottom: 0px;
    
  }

  .left-mid1{
    margin-left: 50px;
    margin-top:10px;
    
  }
  .left-mid1 a{
    padding: 15px;
  }
  #h3-mid{
      text-align: center;
      color:#737373;
  }

  #left-mid-readers{
    margin:0 165px;
  }
  .left-recent{
    border: 1px solid #dddddd;
    float: right;
    width: 430px;
    height: 320px;
    overflow: hidden;
    margin: 20px 17px;
    background: #f3f3f3;
    overflow: hidden;
    margin-bottom: 0px;
    font-family: 'Source Sans Pro', sans-serif;

  }

  .recent-title{
    background: #51cbf0;
    padding: 1px;
  }

  .recent-title h3{
    color:white;
    margin-left: 5px;
    
  }
  .recent-list ul{
    padding: 0;
    margin: 0;
  }
  .recent-list li{
    list-style: none;
    margin: 20px 10px;
    padding: 5px;
    border-bottom: 1px solid #dddddd;
    color:#737373;
  }

 .arrow{
   margin-right: 10px;
 }

 .recent-list li:last-child{
   border-bottom: none;
 }
 .recent-list li a{
   text-decoration: none;
   color: #6b6b6b;
 }
  

 .mid-slider{
   clear: both;
   padding: 30px 5px;
   text-align: center;  
 }

 .mid-slider a{
   text-decoration: none;
   margin: 0px 5px;
 }

 .mid-slider a:hover{
   background: #0682b8;

 }
 .footer-list{
  background: #dddddd;
  padding: 10px; 
  overflow: hidden;

}
 .footer-info{
   border-right: 1px solid #c6c6c6;
   float: left;
   padding: 5px;
   width: 24%;
   font-family: 'Source Sans Pro', sans-serif;

 }

 .footer-info:last-child{
   border: none;
 }


 .text{
   margin-left: 60px;
 }
 .footer-list a {
   text-decoration: none;
   color: #519bca;
 }
.footer-list ul{
  list-style: none;
}
.footer-list li{
  padding: 5px 20px;
}

#copyright{
  text-align: center;
  color: #929292; 
}

/* Style Contact  */

.contact-con{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px; 
}

.contact-con h1{
  color: #00c6ff;
}

.contact-con form input{
  margin-bottom: 15px;
  width: 500px;
  height: 30px;

}

.contact-con form button{
  padding: 10px 15px;
  border: none;
  background: #0682b8;
  color: #fff;
}

.contact-con form button:hover{
  background: #51cbf0;
}

.contact-con form input[type="message"]{
  height: 100px;
}



/*Sign up Form */


.main-wrapper{
  padding: 10px 20px;
  border:1px solid #c6c6c6;
}
.main-wrapper h1{
  color:#318bd1;
}
  
.main-wrapper input{
  width: 500px;
  height: 30px;
  margin: 15px 0;
  display: flex;
  border:1px solid grey;
 border-radius: 10px;
}

.main-wrapper input[type=radio]{
  display: inline;
  width: 50px;
  height: 15px;
}
.main-wrapper button{
  padding: 20px 60px;
  border: none;
  background: #0682b8;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 25px;
}
.main-wrapper button:hover{
  background: green;
}
.ngjtraLabel{
  color: #318bd1;
  font-size: 18px;
}

.main-wrapper input[type=checkbox]{
  float: left;
  width: 50px;
  height: 15px;
  margin: 10px 0px;
}
.main-wrapper p{
  padding: 8px;
}
.upload-form input[type=text]{
  width: 375px;
  border-radius: 10px;
  border: 1px solid black;
}
.upload-form input[type=file]{

  border-radius: 10px;
  color:white;
  background-color: #0ba7ce;
}
.upload-form textarea{
  border-radius: 10px;
  
}
.upload-form input[type=submit]{
  border:1px solid black;
  border-radius: 10px;
  width: 70px;
  height: 30px;
  background: #318bd1;
  color:white;
}
.upload-form input[type=submit]:hover{
  background: green;
}

#newspage{
  width: 95%;
  overflow: scroll;
}
.news-img{
  width: 192px;
  height: 198px;
}
#newsbutton{
  
  text-align:center;
}

#newsbutton button{

    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    
  }

#newsbutton button:hover{

    background-color: #0682b8;  
    color: white;
  
}

.input-error{
  box-shadow: 0 0 5px red;
}

.error{
  color: red;
  margin-bottom: 5px;
}

.success{
  color: #00ff00; 
  font-size: 20px;
}


#result-none{
  font-size: 20px;
  text-align: center;
  color: red;
}
