
.slideshow-container{

width: 500px;
margin-bottom: 10px;
position: relative;
height: 300px;
float: right;
}
.img-div{
    width: 400px;
    height: 260px;
    padding-left: 51px;
    padding-top: 30px;
}
.dots-1{
    margin-left: 920px;
    margin-top: 0px;
    padding-bottom: 20px;   
}

.myslides{
display: none;
}
.prev , .next{
position: absolute;
top: 50%;
font-size: 25px;
font-weight: bold;
padding: 16px;
margin-top: -22px;
border-radius: 0 3px 3px 0;
user-select: none;
color: #c6ff00;
cursor: pointer;
}
.next{
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover{
background-color: rgba(0,0,0,0.8);
}
.caption{
text-align: center;
position: absolute;
bottom: 8px;
width: 100%;
color: #f2f2f2;
font-size: 15px;
padding: 8px 22px;
}

.dots{
width: 10px;
height: 10px;
background: white;
display: inline-block;
border-radius: 50%;
cursor: pointer;
}

.fade{
animation-name:fade;
animation-duration:1.5s;
}
@keyframes fade{
from {opacity: 0.4;}
to {opacity: 1;}
}
.active, .dot:hover {
background-color: #333;
}
.slider{
   border-radius: 100px;
}


